@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #fff6ea;
  --foreground: #fff6ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff6ea;
    --foreground: #fff6ea;
  }
}

html {
  height: 100%; /* Set html height */
}

body {
  min-height: 100vh; /* Ensure body takes full height */
  margin: 0;
  padding: 20px; /* Add padding for content */
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif; /* Use local fonts */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
